<% layout('./layouts/boilerplate') %> 
    <div id="cluster-map"></div>

    <h1 style="color: aliceblue;">Restuarants</h1>
    <% if(user) { %> 
    <div>
        <a class="btn btn-warning mb-3" href="/restaurants/new">+Add Restaurant</a>
    </div>
    <% } %> 
    <div>
        <% for (let restaurant of restaurants) { %>
           <div class="card mb-3" style="border-radius: 5%;">
               <div class="row">
                   <div class="col-md-4">
                       <% if(restaurant.images.length) {%> 
                       <img style="border-radius: 5%;" class="img-fluid" alt="" src="<%=restaurant.images[0].url %>">
                       <% } else { %>
                            <img src="" alt="" class="img-fluid">
                        <% } %> 
                   </div>
                   <div class="col-md-8">
                       <div class="card-body">
                           <h5><%=restaurant.title%></h5>
                           <h6  style="color: #7c858d;"><%=restaurant.location %> </h6>
                           <p class="card-text"><%= restaurant.description %></p>
                           <a class="btn btn-outline-dark" href="/restaurants/<%=restaurant._id%>">Visit <%= restaurant.title %></a>
                       </div>
                   </div>
               </div>
           </div>
        <% } %> 
    </div>

    <script>
        const mapBoxToken = process.env.MAPBOX_TOKEN;
        const restaurants = {features: <%- JSON.stringify(restaurants) %>}
    </script>

    <script src="/javascripts/clusterMap.js"></script>
